# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)
# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mantua,IT,45.1667,10.7833,45.64,91,100,4.29,moderate rain
1,1,Jamestown,US,42.0970,-79.2353,31.59,50,0,3.44,clear sky
2,2,Barcelos,PT,41.5388,-8.6151,44.69,77,0,5.61,clear sky
3,3,Vardo,NO,70.3705,31.1107,30.18,74,100,28.77,overcast clouds
4,4,Ushuaia,AR,-54.8000,-68.3000,46.96,62,79,5.48,light rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Cabo San Lucas,MX,22.8909,-109.9124,72.52,57,40,11.50,scattered clouds
7,7,Kapaa,US,22.0752,-159.3190,82.72,73,20,6.91,light rain
8,8,Rikitea,PF,-23.1203,-134.9692,79.61,75,3,16.82,clear sky
17,17,Banda Aceh,ID,5.5577,95.3222,75.54,86,85,9.48,overcast clouds
19,19,Atuona,PF,-9.8000,-139.0333,78.85,76,2,17.87,clear sky
21,21,Hithadhoo,MV,-0.6000,73.0833,81.01,75,100,13.38,overcast clouds
22,22,Georgetown,MY,5.4112,100.3354,76.95,88,20,0.00,few clouds
26,26,Mar Del Plata,AR,-38.0023,-57.5575,71.94,82,78,5.99,broken clouds
28,28,Puerto Ayora,EC,-0.7393,-90.3518,77.56,93,80,4.00,broken clouds
30,30,Tautira,PF,-17.7333,-149.1500,80.62,81,100,16.15,light rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()
clean_travel_cities.isnull().sum()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Cabo San Lucas,MX,22.8909,-109.9124,72.52,57,40,11.50,scattered clouds
7,7,Kapaa,US,22.0752,-159.3190,82.72,73,20,6.91,light rain
8,8,Rikitea,PF,-23.1203,-134.9692,79.61,75,3,16.82,clear sky
17,17,Banda Aceh,ID,5.5577,95.3222,75.54,86,85,9.48,overcast clouds
19,19,Atuona,PF,-9.8000,-139.0333,78.85,76,2,17.87,clear sky
21,21,Hithadhoo,MV,-0.6000,73.0833,81.01,75,100,13.38,overcast clouds
22,22,Georgetown,MY,5.4112,100.3354,76.95,88,20,0.00,few clouds
26,26,Mar Del Plata,AR,-38.0023,-57.5575,71.94,82,78,5.99,broken clouds
28,28,Puerto Ayora,EC,-0.7393,-90.3518,77.56,93,80,4.00,broken clouds
30,30,Tautira,PF,-17.7333,-149.1500,80.62,81,100,16.15,light rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()


# Display sample data
hotel_df.head(10)

              City Country  Max Temp Current Description      Lat       Lng
6   Cabo San Lucas      MX     72.52    scattered clouds  22.8909 -109.9124
7            Kapaa      US     82.72          light rain  22.0752 -159.3190
8          Rikitea      PF     79.61           clear sky -23.1203 -134.9692
17      Banda Aceh      ID     75.54     overcast clouds   5.5577   95.3222
19          Atuona      PF     78.85           clear sky  -9.8000 -139.0333
21       Hithadhoo      MV     81.01     overcast clouds  -0.6000   73.0833
22      Georgetown      MY     76.95          few clouds   5.4112  100.3354
26   Mar Del Plata      AR     71.94       broken clouds -38.0023  -57.5575
28    Puerto Ayora      EC     77.56       broken clouds  -0.7393  -90.3518
30         Tautira      PF     80.62          light rain -17.7333 -149.1500

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""


# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Cabo San Lucas,MX,72.52,scattered clouds,22.8909,-109.9124,
7,Kapaa,US,82.72,light rain,22.0752,-159.3190,
8,Rikitea,PF,79.61,clear sky,-23.1203,-134.9692,
17,Banda Aceh,ID,75.54,overcast clouds,5.5577,95.3222,
19,Atuona,PF,78.85,clear sky,-9.8000,-139.0333,
21,Hithadhoo,MV,81.01,overcast clouds,-0.6000,73.0833,
22,Georgetown,MY,76.95,few clouds,5.4112,100.3354,
26,Mar Del Plata,AR,71.94,broken clouds,-38.0023,-57.5575,
28,Puerto Ayora,EC,77.56,broken clouds,-0.7393,-90.3518,
30,Tautira,PF,80.62,light rain,-17.7333,-149.1500,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat =  row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Cabo San Lucas,MX,72.52,scattered clouds,22.8909,-109.9124,Hotel Tesoro
7,Kapaa,US,82.72,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Rikitea,PF,79.61,clear sky,-23.1203,-134.9692,People ThankYou
17,Banda Aceh,ID,75.54,overcast clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
19,Atuona,PF,78.85,clear sky,-9.8000,-139.0333,Villa Enata
21,Hithadhoo,MV,81.01,overcast clouds,-0.6000,73.0833,Scoop Guest House
22,Georgetown,MY,76.95,few clouds,5.4112,100.3354,Cititel Penang
26,Mar Del Plata,AR,71.94,broken clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
28,Puerto Ayora,EC,77.56,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
30,Tautira,PF,80.62,light rain,-17.7333,-149.1500,Pension Oaoa

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [12]:
# Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Cabo San Lucas,MX,72.52,scattered clouds,22.8909,-109.9124,Hotel Tesoro
7,Kapaa,US,82.72,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Rikitea,PF,79.61,clear sky,-23.1203,-134.9692,People ThankYou
17,Banda Aceh,ID,75.54,overcast clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
19,Atuona,PF,78.85,clear sky,-9.8000,-139.0333,Villa Enata
21,Hithadhoo,MV,81.01,overcast clouds,-0.6000,73.0833,Scoop Guest House
22,Georgetown,MY,76.95,few clouds,5.4112,100.3354,Cititel Penang
26,Mar Del Plata,AR,71.94,broken clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
28,Puerto Ayora,EC,77.56,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
30,Tautira,PF,80.62,light rain,-17.7333,-149.1500,Pension Oaoa

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [13]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [14]:
# Set the file name.
output_data_file = 'WeatherPy_vacation.csv'

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [15]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [16]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tesoro</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 72.52 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>light rain and 82.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.61 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OYO 884 Rumoh PMI Hotel</dd>\n<dt>City</dt><dd>Banda Aceh</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>few clouds and 76.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gran Hotel Mar del Plata</dd>\n<dt>City</dt><dd>Mar Del Plata</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 71.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.56 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pension Oaoa</dd>\n<dt>City</dt><dd>Tautira</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 80.62 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [17]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
6   22.8909 -109.9124
7   22.0752 -159.3190
8  -23.1203 -134.9692
17   5.5577   95.3222
19  -9.8000 -139.0333
21  -0.6000   73.0833
22   5.4112  100.3354
26 -38.0023  -57.5575
28  -0.7393  -90.3518
30 -17.7333 -149.1500

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.9)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))